In [12]:
import pandas as pd
import os
import gc
from datetime import datetime

# 讀取 Google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
exec_dt = datetime.strftime(datetime.now(), '%Y%m%d_%H%M%S')
path = r'/content/drive/My Drive/side_project/20191109_ptt_analysis//'
pg_path = path + 'neo4j_community_pagerank_1204/'

In [14]:
gp_df = pd.DataFrame()

for x in os.listdir(pg_path):
    #select files
    if x.endswith('csv') and x.startswith('neo4'):
        print(x)
        temp_df = pd.read_csv(pg_path + x)
        temp_lst = []
        #neo4j file parser
        for x in temp_df.itertuples():
            t1 = [y.split(':') for y in x.n[1:-1].split(',')]
            row = pd.DataFrame([[x[1] for x in t1]], columns=[x[0] for x in t1])
            temp_lst.append(row)

        df = pd.concat(temp_lst, sort=True)
        gp_df = gp_df.append(df)

neo4j_community_344.csv
neo4j_community_326.csv
neo4j_community_346.csv
neo4j_community_329.csv
neo4j_community_354_csv.csv
neo4j_community_6142.csv
neo4j_community_328.csv

In [15]:
gp_df.head()

  community          id           pagerank
0       344    fungku01  7.110063887201249
0       344  godstrange  6.117243177071213
0       344  johnnyjazz  6.005964523740113
0       344   knightfat  5.078586988273674
0       344   ROCKMANX6  4.492471052706243

In [0]:
gp_df.to_csv(path + 'neo4j_trns_{}.csv'.format(exec_dt), index=False)